.welcome-card {
        background-image: url('/assets/images/home-bg.jpg') !important;
}

.ql-editor * {
    word-break: break-word;
    overflow-wrap: break-word;
}

.flatpicker-form > div {
    width: 100% !important;
}

.accordion-button .icon svg {
    transform: rotate(0deg) !important;
}
.accordion-button .icon {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* Theme */
.light .theme-aware-icon {
    filter: invert(0);
}

.dark-only .theme-aware-icon {
    filter: invert(1);
}

body.dark-only strong {
    color: #fff9 !important;
}

/* Pagination */
.pagination-wrapper .page-item.active .page-link {
    background-color: var(--theme-default);
    border-color: var(--theme-default);
    color: #fff !important;
}

.pagination-wrapper .page-link {
    color: var(--theme-default);
}

.pagination-wrapper .page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(122, 112, 186, 0.25);
    border-color: var(--theme-default);
}

.pagination-wrapper > nav {
    flex: 1 !important;
}

.pagination-wrapper nav > div:first-of-type {
    display: none !important;
}

.pagination-wrapper nav > div:last-of-type {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

/* .pagination-wrapper nav > div:last-of-type > div:first-child {
    display: none !important;
} */

.pagination-wrapper nav > div:last-of-type ul {
    justify-content: center !important;
    flex-wrap: wrap !important;
    row-gap: 0.5rem;
}

/* @media (min-width: 992px) {
    .pagination-wrapper nav > div:last-of-type {
        justify-content: center !important;
    }
} */

/* Custom Select */
.custom-select-search .selected-box:after {
    top: 6px !important;
    right: 0 !important;
    transform: rotateX(0deg) !important;
}

.custom-select-search *,
.custom-select-search {
    width: 100% !important;
    max-width: 100% !important;
}
body.dark-only
    .custom-select-search
    .options-container.active
    ~ .search-box
    input {
    background-color: #fff !important;
}

/* Custom Quill */
.ql-editor p {
    margin: 0 !important;
}

/* custom table */
.list-product.list-category table thead tr th:nth-child(3),
.list-product.list-category table thead tr td:nth-child(3),
.list-product.list-category table tbody tr th:nth-child(3),
.list-product.list-category table tbody tr td:nth-child(3) {
    min-width: auto;
}

.list-product.list-category table thead tr th:nth-child(4),
.list-product.list-category table thead tr td:nth-child(4),
.list-product.list-category table tbody tr th:nth-child(4),
.list-product.list-category table tbody tr td:nth-child(4) {
    min-width: auto;
}

.list-product.list-category table thead tr th:nth-child(4),
.list-product.list-category table thead tr td:nth-child(4),
.list-product.list-category table tbody tr th:nth-child(4),
.list-product.list-category table tbody tr td:nth-child(4) {
    min-width: auto;
}

.list-product.list-category table thead tr th:nth-child(2),
.list-product.list-category table thead tr td:nth-child(2),
.list-product.list-category table tbody tr th:nth-child(2),
.list-product.list-category table tbody tr td:nth-child(2) {
    min-width: auto;
}

/* meeting sidebar */
.selected-item {
    position: relative;
}

.selected-item.active:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 15px 0 0 15px;
    background-color: var(--theme-default);
}
.selected-item.active {
    border-radius: 15px 0 0 15px;
    background-color: rgba(115, 102, 255, 0.05);
}

.meeting-sidebar {
    height: calc(100vh - 79px);
}
#my-sticky {
    transition: all 0.3s ease;
}

@media (max-width: 992px) {
    .meeting-sidebar {
        height: 300px !important;
    }
}

/* rounded */
.rounded-responsive {
    border-radius: 0px !important;
}

@media (min-width: 576px) {
    .rounded-responsive {
        border-radius: 0.375rem !important;
    }
}

/* custom file upload */
.custom-file-upload {
    border-width: 2px !important;
    border-style: dashed !important;
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.custom-file-upload.is-drag {
    border-style: solid !important;
    background-color: #f0f0f0 !important;
}

.dark-only .custom-file-upload.is-drag {
    border-style: solid !important;
    background-color: #333 !important;
}

.view_file_path .file {
    background: #f5f6f9;
}

.dark-only .view_file_path .file {
    background: #1d1e26;
}

/* tags */
.dark-only .tagify__dropdown > div {
    background: rgb(38, 41, 50) !important;
}
